@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    
    --card: 0 0% 96%;
    --card-foreground: 240 10% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
 
    --primary: 221 83% 53%; /* Blue */
    --primary-foreground: 0 0% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 240 5.9% 10%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 210 40% 92.8%;
    --input: 210 40% 92.8%;
    --ring: 221 83% 53%; /* Blue */
 
    --radius: 1rem;

    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 240 10% 3.9%;
    --sidebar-primary: 211 100% 50%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 0 0% 94%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 0 0% 89.8%;
    --sidebar-ring: 211 100% 50%;
  }
 
  .dark {
    --background: 222 47% 11%; /* Dark Blue-Black */
    --foreground: 0 0% 98%;
 
    --card: 222 47% 14%;
    --card-foreground: 0 0% 98%;
 
    --popover: 222 47% 11%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 217 91% 60%; /* Lighter Blue for Dark Mode */
    --primary-foreground: 0 0% 98%;
 
    --secondary: 217 33% 17%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 217 33% 17%;
    --muted-foreground: 240 5% 64.9%;
 
    --accent: 217 33% 17%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 217 33% 20%;
    --input: 217 33% 20%;
    --ring: 217 91% 60%; /* Lighter Blue for Dark Mode */

    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 211 100% 50%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 211 100% 50%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
